.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

@keyframes wave-bob {
    0% {
        top: 0;
    }

    50% {
        top: 3%;
    }

    100% {
        top: 0;
    }
}

.bg-mid {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    overflow: hidden;
    animation: wave-bob 10s infinite ease-in-out;
}

.bg-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    overflow: hidden;
    animation: wave-bob 8s infinite ease-in-out;
}

@keyframes light {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 20%;
    }

    100% {
        opacity: 100%;
    }
}

.light1 {
    animation: 6s ease-in 0s infinite running light;
}

.bubble-container {
    overflow: hidden;
}


@keyframes floatUp {
    0% {
        bottom: -20%;
    }
    100% {
        bottom: 120%;
    }
}

.bubble {
    position: fixed;
    overflow: hidden;
    opacity: 20%;
    z-index: 1;
    bottom: -20%;
    border-radius: 50%;
    border: 3px solid rgba(120, 224, 255, 0.7);
    background-color: rgb(218, 243, 252);
    animation-name: floatUp;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.light2 {
    animation: 6s ease-in 2s infinite running light;
}

.light3 {
    animation: 6s ease-in 4s infinite running light;
}