.overflow-hidden {
    overflow: hidden;
    border: 3px solid red;
}

.sand {
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
    z-index: 2;
    cursor: default;
}

.kelp {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    cursor: default;
}

.seashell-container {
    position: absolute;
    bottom: 10px;
    left: 50px;
    z-index: 3;
}

.seashell-text { 
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.clam-container {
    position: absolute;
    bottom: 10px;
    right: 50px;
    z-index: 3;
    overflow: hidden;
}

.clam-text { 
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    cursor: pointer;
    top: 20%;
    left: 48%;
    transform: translate(-48%, -20%);
    z-index: 4;
}

.coral {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    cursor: default;
}


@keyframes wiggle {
    20% {
        transform: rotate(3deg);
    }
    40% {
        transform: rotate(-3deg);
    }
    60% {
        transform: rotate(3deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.wiggle {
    animation: wiggle 1s ease-in-out 1;
}