@keyframes swim {
    0% {
        margin-left: -235px
    }
    90% {
        margin-left: 100%;
    }
    100% {
        margin-left: 100%;
    }
}

.outer {
    overflow: hidden;
}

.fish {
    position: fixed;
    text-align: center;
    min-width: 300px;
    max-width: 500px;
    min-height: 200px;
    max-height: 300px;
    // animation: 10s ease-in 0s infinite running swim;
}

.fish-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    // filter: opacity(0.5) drop-shadow(0 0 0 blue) saturate(1000%);
}

.fish-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}