.overflow-hidden {
    overflow: hidden;
    border: 3px solid red;
}

.kelp {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.seashell {
    position: absolute;
    bottom: 10px;
    left: 50px;
    z-index: 3;
}

.clam {
    position: absolute;
    bottom: 10px;
    right: 50px;
    z-index: 3;
    overflow: hidden;
}

.coral {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}


@keyframes wiggle {
    20% {
        transform: rotate(3deg);
    }
    40% {
        transform: rotate(-3deg);
    }
    60% {
        transform: rotate(3deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.wiggle {
    animation: wiggle 1s ease-in-out 1;
}