.kelp {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.seashell {
    position: absolute;
    bottom: 0;
    left: 50px;
    z-index: 3;
}

.clam {
    position: absolute;
    bottom: 5px;
    right: 50px;
    z-index: 3;
}

.coral {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}