.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.charts-title {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.chart {
  padding: 0.8em 0;
  border-bottom: 3px solid white;
}