p {
    margin: 0px;
}

h3 {
    margin: 0px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.info-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-container {
    position: fixed;
    bottom: 1.5em;
    left: 50%;
    transform: translate(-50%, -1.5em);
    min-width: 650px;
    max-width: 80vw;
    border-radius: 25px;
    background-color: #31C598;
    animation: fadeIn 0.5s ease-in;
    z-index: 5;
}

.row-start {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    color: white;
}

.info-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.info-text {
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.artist-rank {
    font-size: 30px;
}

.artist-name {
    font-size: 30px;
    padding-bottom: 5px;
}

.artist-pic {
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.empty-pic {
    background-color: white;
}

.hidden {
    visibility: hidden;
}

@keyframes menuExpand {
    0% {
        transform: scaleY(0);
        height: 0;
        opacity: 0%;
    }
    60% {
        opacity: 20%;
    }
    100% {
        height: 100px;
        transform: scaleY(1);
        opacity: 100%;
    }
}


.white-box {
    background-color: white;
    margin: 0 20px 20px 20px;
    border-radius: 20px;
    animation: menuExpand 0.1s ease-in;
}

.green-text {
    color: #31C598;
    font-size: 1.1em;
}

.green-label {
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: underline;
}

.row-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 1em;
    .col {
        padding-right: 0.5em;
    }
}

.menu-controls {
    padding: 0;
    
}

.gap {
    margin: 0 0.4em;
}

.dropdown-arrow {
    max-height: 1em;
    max-width: 2em;
}


.close-dropdown-btn {
    max-height: 2em;
    max-width: 2em;
}

.new-tab-btn {
    max-width: 1em;
    max-height: 1em;
    margin: 0.5em 0.5em 0em 0.5em;
    text-align: center;
}

.artist-rank,.artist-name {
    font-size: 2.1em;
}

.song-name {
    font-size: 1.1em;
}

@media screen and (max-width: 768px) {
    .info-container {
      min-width: 90vw;
    }

    .artist-rank,.artist-name {
        font-size: 2.5em;
    }

    .song-name, .green-text {
        font-size: 1.3em;
    }
  }