$spotify-green: #1ED660;


.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.loading-text {
  color: white;
  z-index: 3;

}

.link {
  background-color: $spotify-green;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  padding: 4px 12px 6px 12px;
}

.try-again-text {
  transition: opacity 2s ease-in-out;
}