$sidebarColor: #A3A7FF;

.sidebar {
  width: 16vw;
  height: 87vh;
  border-radius: 2em;
  z-index: 5;
  background-color: $sidebarColor;
  position: absolute;
  right: 15px;
  padding: 0em 1em 0.5em 3em;
  animation: fadeIn 0.5s ease-in;
  overflow: hidden;
}

.close-sidebar-btn {
  position: absolute;
  top: 1.5em;
  right: 1.2em;
  width: 2em;
  height: 2em;
}

.top-artist-list {
  height: 90%;
  overflow: scroll;

}

.sidebar-title {
  color: white;
}

.sidebar-row-text {
  color: white;
  font-size: 1.2em;
}

.hover-underline:hover {
  text-decoration: underline;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

::-webkit-scrollbar-corner {
  background-color: transparent;

  }